#depthMeterContainer {
  /* Make this better later */

  position: absolute;
  background-color: black;
  width: 20px;
  right: 65px;
  top: 450px;
  margin-top: -200px;
  height: 400px;
}
.depthMeterDot {
  position: absolute;
  background-color: white;
  cursor: pointer;
}

.depthMeterDot.filled {
  background-color: #ae017e;

}

body {

}


