#depthMeterContainer {
  /* Make this better later */

  position: absolute;
  background-color: black;
  width: 40px;
  right: 55px;
  top: 450px;
  margin-top: -200px;
  height: 250px;
}
.depthMeterDot {
  position: absolute;
  background-color: white;
  cursor: pointer;
}

.depthMeterDot.filled {
  background-color: #fd0;

}

body {

}


