body {
  background: black;
  margin: 0;
  padding: 0;
  position: fixed;
}
.playerdot {
  height: 20px;
  width: 20px;
  border-radius: 25px; 
  cursor: pointer;
}
#viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 720px;
  width: 1280px;
  margin: -360px 0 0 -640px;
}
#viewport #clock {
  position: absolute;
  top: 75px;
  height: 570px;
  width: 570px;
  left: 355px;
  z-index: 10;


}
#viewport video {
  position: absolute;
  top: 85px;
  height: 550px;
  width: 550px;
  left: 365px;
  cursor: pointer;
  border-radius: 550px;
}
.clip {
  position: absolute;
  transition: width 3s, height 3s, opacity 3s;
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
}
#hover_preview {
  position: absolute;
  top: 0;
  right: 50px;
  width: 200px;
  background-color: #000;
  display: none;
  color: #aaa;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 11px;

}
.clip .playbutton {
  position: absolute;
  color: purple;
  width: 100%;
  top: 50%;
  
  text-align: center;
  display: none;

}
.clip:hover .playbutton {
  display: inline-block;

}
.arc {
  stroke-width: 6px;
}
#clock circle.outer {
  fill: none;
  stroke-width: 6px;
  stroke: #666;
}
